.vscode/
build/
API/build
/PayloadConverter/build
node_modules/
m64pnpm.zip
build.js
roms/
mods/
flips/
Tool64_v1.11/
build2/
mods.zip
PayloadConverter/test/
PayloadConverter/private_key.pem
PayloadConverter/public_key.pem
PayloadConverter/ootcore/
PayloadConverter/ooto/
Scripts/Windows/.wget-hsts
dist/
Mupen64Plus/
SDK-config.json
CustomActorToolkit/
tools/
win-ia32-unpacked/
win-ia32-unpacked.pak
pw.bin
user.bin
addr.bin
API/docs/
docs/
src/modloader/cores/OOT/command_inject/bin/
src/modloader/cores/OOT/command_inject/gsc/
src/modloader/cores/OOT/command_inject/obj/
src/modloader/cores/OOT/command_inject/all-oot-1.0.gsc
src/modloader/cores/OOT/command_inject/all-oot-debug.gsc
privateKey.pem
bin/paker.js
bin/index.js
bin/bintots.js
bin/postinstall.js
core_links/
