[submodule "ModLoader64-M64P-Core"]
	path = ModLoader64-M64P-Core
	url = https://github.com/hylian-modding/ModLoader64-M64P-Core.git
[submodule "ModLoader64-M64P-Npm"]
	path = ModLoader64-M64P-Npm
	url = https://github.com/hylian-modding/ModLoader64-M64P-Npm.git
